@import "../helpers/scss/bootstrap.scss";
@import "../helpers/scss/global-mixin.scss";
@import "../helpers/scss/margin-padding-mixin.scss";


$pink: #EF74AD;
$beige: #d9abc0;
$banana: #d6e2ef;
$asphalt: #6c6e71;

$royalPurple: #7851A9;
$tibetanPurple: #3F4E99;
$Mauve: #E0B0FF;
$electricPurple: #F4BBFF;
$seafoamGreen: (#71EEB8);



body {

  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
button,
button:focus {
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  // background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}



html body {
  height: 100vh;
}


.title {
  text-transform: uppercase;

  font-size: 40px;
}


.card-block {
  height: 75vh;
  
}


.cardBlock-num {
  gap: 25px;
  flex-wrap: nowrap;
}
.card-box {
  padding: 10px;
  background-color: $banana;
  border-radius: 20px;
}
.card-box2 {
  padding: 10px;
  background-color: $banana;
  border-radius: 20px;
}
.card-box3 {
  padding: 10px;
  background-color: $banana;
  border-radius: 20px;
}

.img-card {
  height: auto;
  width: 200px;
  border-radius: 30px;

}


.card-title {
  font-size: 20px;
  color: $asphalt;
}

.card-text {
  font-size: 15px;
  color: $asphalt;
}

.card-btn {
  background-color: $pink;
  border-radius: 10px;
  font-size: 25px;
  color: white;
}


.btn-link {
  color: white;
  font-size: 20px;
}
.black {
  background-color: black;
}

.orange {
  background-color: #e27028;
}


/* CSS */
.hyi {
  color: $asphalt;
}

.pag-link {
  font-size: 13px;
  color: $asphalt;
  

 

}

.pag-link:hover,
.pag-link:focus,
.pag-link:active,
.pag-link:target {
  color: black;
  border-bottom: 2px solid black;
}


.backlink {
  color: $asphalt;
  
}
