@import "../helpers/scss/bootstrap.scss";
@import "../helpers/scss/global-mixin.scss";
@import "../helpers/scss/margin-padding-mixin.scss";

$pink: #EF74AD;
$beige: #d9abc0;
$banana: #d6e2ef;

html {
  scroll-behavior: smooth;
}
body {
  transition: color 0.5s;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
button,
button:focus {
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  // background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}



html body {
  height: 100vh;
}
.second-title {
  font-size: 45px;
  color: $pink;
  
}
.nav {
  text-transform: uppercase;

  .active {
    color: $beige;
    
    &::after {
      opacity: 1;
    }
}
}

.nav-content {
  align-items: center;
  
  padding-left: 0px !important;
}
.video-content {
  width: 400px;
  height: 500px;
}
.final-img {
  width: 100%;
}
// .key-pressed {
//   transform: scale(0.95); 
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
// }

.nav-link {
  color: $pink;
  font-size: 20px;
  vertical-align: top;
  transition: color .2s ease-in;
  white-space: nowrap;

  &:after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 3px;
    border-bottom: 4px solid $beige;   
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: opacity .2s ease-in;
  }
  
  &:hover {
    color: $beige;
    
    &:hover:after {
      opacity: 1;
    }
  }
}








.title {
  line-height: 1;
}
.first-content {
  grid-area: contentBox;
}


.intro1 {
  background-image: url(/images/1\ block_00000.png);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: [row1-start] 28% [row1-end]  auto [last-line];
  grid-template-areas:
    ". ."
    "contentBox .";
}

.intro2 {
  background-image: url(/images/newImg/8_00000.png);
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border-radius: 10px;
  background-color: $pink;
  color: white;
  font-size: 20px;
  
}


.btn-second {
  border-radius: 10px;
  background-color: white;
  color: $pink;
  font-size: 30px;
}
.btn-third {
  border-radius: 10px;
  background-color: $banana;
  border: none;
  color: $pink;
  font-size: 30px;
}

.text-second {
  color: $pink;
  font-size: 30px;
  
}
.title-fourth {
  color: $pink;
  font-size: 35px;
}
.pix {
  font-size: 25px;
}
.main-title {
  font-size: 80px;
  color: white;
  line-height: 1.1;
}



.second-content {
  height: 100%;
}


.icon-item {
  width: 120px;
  height: 120px;
}

.opt-item {
  font-size: 32px;
  color: $pink;
}


// .card-block {
//   margin-right: 80px;

//   &:last-child {
//     margin-right: 80px;
//   }
// }


.title-third {
  color: white;
  font-size: 55px;
}

.third-title {
  color: white;
  font-size: 35px;
}
.third-text {
  color: white;
  font-size: 18px;
}

.fourth-content {
  background-color: $pink;
  border-bottom: 2px solid white;
  padding: 20px 20px;
  border-radius: 10px;
}

.fourth-num {
  color: white;
  font-size: 22px;
}

.fourth-text {
  color: white;
  
}




.last-content {
  background-color: $pink;
}

.last-img {
  width: 100px;
  height: 100px;
}

.last-title {
  color: white;
  font-size: 50px;
}


.logo {
  width: 10%;
  height: 100%;
}
.year {
  font-size: 35px;
  color: $pink;
}

.footer-title {
  color: $pink;
  word-spacing: 20px;
  font-size: 35px;
}


.stage1 {
  top: 10%;
  left: 0;
  right: 55%;
  bottom: 0;
  color: white;
}
.stage2 {
  top: 35%;
  left: 50%;
  right: 0;
  bottom: 0;
  color: white;
}
.stage3 {
  top: 60%;
  left: 0;
  right: 50%;
  bottom: 0;
  color: white;
}



@media screen and (max-width: 767px) {


  body {
    font-size: 20px; /* Adjust font size for better mobile readability */
  }

  

  .nav {
    flex-direction: column; /* Stack navigation items vertically on mobile */
  }

  .nav-content {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  

  .nav-link {
    font-size: 22px;

  }

  .btn {
    font-size: 25px;
  }
  
  .intro1 {
    background-size: 767px; /* Adjust background size for mobile */
    background-repeat: no-repeat;
    height: 450px;
    grid-template-columns: repeat(5 ,1fr); /* Change grid layout to single column on mobile */
    grid-template-rows: [row1-start] 100% [row1-end] auto [last-line];
    grid-template-areas:
    
    ". contentBox .";
    align-items: center;
    
  }
  
  .intro2 {
    background-size: 767px;
    height: 450px;
    background-repeat: no-repeat;

  }
  .text-container {
    padding-bottom: 0px !important;
  }

  .third-title {
    font-size: 22px;
    
  }

 
  .title-third {
    font-size: 30px;
    margin-bottom: -15px;
  }
  .third-text {
    font-size: 15px;
  }
  
  .main-title {
    font-size: 40px; /* Adjust the font size for the main title on mobile */
  }

  .btn-second {
    font-size: 20px; /* Adjust the font size for the button on mobile */
  }


  

  .opt-item {
    font-size: 20px; /* Adjust the font size for the option text on mobile */
  }

  .second-title {
    font-size: 35px;
  }

  .video-content {
    width: 300px;
    height: 400px;
  }

  .fourth-num {
    font-size: 15px;
  }

  .btn-third {
    font-size: 25px;
  }
  .title-fourth {
    color: $pink;
    font-size: 30px;
  }

  .final-img {
    height: 400px;
    width: 350px;
  };
  .last-title {
    font-size: 35px;
  }

  .footer-title {
    font-size: 30px;
  }
  .year {
    font-size: 30px;
  }
  .pix {
    font-size: 18px;
  }
  .stage1 {
    top: 9%;
  }
  .stage2 {
    top: 30%;
  }
  .stage3 {
    top: 60%;
  }
  /* Add any additional styles or adjustments you need for mobile here */
}




/* Your default styles for larger screens (desktop) */

/* Apply any styles for larger screens here */

/* Media query for iPhone 8 Plus (resolution: 1080 x 1920 pixels) */
@media screen and (max-width: 414px) {
 
  
  body {
    font-size: 18px; 
  }

  

  .nav {
    flex-direction: column; 
  }

  .nav-content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-left: 0 !important;
    
  }

  .nav-link {
    font-size: 18px; 
    
  }

  .btn {
    font-size: 18px;
    padding: 0 12px;
  }

  .intro1 {
    background-size: 100%; /* Adjust background size for mobile */
    background-repeat: no-repeat;
    height: 230px;
    grid-template-columns: repeat(5 ,1fr); /* Change grid layout to single column on mobile */
    grid-template-rows: [row1-start] 110% [row1-end] auto [last-line];
    grid-template-areas:
    
    ". contentBox .";
    align-items: center;
    
  }

  .intro2 {
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;

  }

  .title-third {
    font-size: 20px;
    padding-bottom: 5%;
    
  }
  .text-container {
    padding-bottom: 0px;
  }
  .third-blockText {
    margin: 0 0 7% 0 !important;
  }

  .third-title {
    font-size: 12px;
    margin: 8px 0 !important;
  }

  .third-text {
    font-size: 10px;
    margin: -1% 0 !important;
  }

  .main-title {
    font-size: 23px;
  }

  .btn-second {
    font-size: 12px;
    
  }
  .second-title {
    font-size: 23px; /* Adjust font size for better mobile readability */
  }
  .opt-item {
    font-size: 16px;
  }

  .second-content {
    padding: 24px 0 !important;
  }
  .card-container {
    flex-direction: column; /* Stack cards vertically on mobile */
    gap: 30px;
    padding: 18px 0 !important; /* Add some spacing between cards on mobile */
  }
  .card-block {
    width: 100%; /* Make cards full-width on mobile */
  }
  

  .icon-item {
    width: 70px;
    height: 70px; /* Adjust icon size for mobile */
  }
  

  .title-fourth {
    font-size: 23px;
    padding-top: 16px !important;
  }
  .video-content {
    width: 200px;
    height: 250px;
  }

  .fourth-content {
    padding: 15px 10px;
    flex-basis: calc(50% - 10px);
  }
  .fourth-num {
    font-size: 8px;
  }
  .btn-third {
    font-size: 15px;
  }
  .fourth-box {
    padding: 28px 0 !important;
  }
  .btn-thirdBox {
    margin: 12px 0 !important;
  }
  .video-box {
    padding-top: 24px !important;
  }


  .last-title {
    font-size: 23px;
    padding: 40px 0 28px 0 !important;
  }
  .final-img {
    width: 100%;
    height: 300px;
  }
  .pix {
    font-size: 10px;
  }
  .last-contentBox {
    padding-bottom: 28px !important;
  }
  .footer-title {
    font-size: 23px;
    padding-bottom: 15px;
  }

  .year {
    font-size: 23px
  }

  .stage1 {
    top: 17%;
    left: -10%;
  }
  .stage2 {
    top: 39%;
    left: 50%;
  }
  .stage3 {
    top: 65%;
    left: -10%;
  }
}

// @media screen and (max-width: 1200px) {
//   .nav-link {
//     font-size: 18px;
 
//   }

//   .intro1 {
//     background-size: 100%; /* Adjust background size for mobile */
//     background-repeat: no-repeat;
//     height: 80%;
//     grid-template-columns: repeat(5 ,1fr); /* Change grid layout to single column on mobile */
//     grid-template-rows: [row1-start] 90% [row1-end] auto [last-line];
//     grid-template-areas:
    
//     ". contentBox .";
//     align-items: center;
    
//   }

//   .intro2 {
//     background-size: 100%;
//     height: 80%;
//     background-repeat: no-repeat;

//   }
//   .main-title {
//     font-size: 70px;
//   }
//   .btn-second {
//     font-size: 25px;
//   }

  
//   .final-img {
//     width: 100%;
//     height: 100%;
//   }
  
//   .stage1 {
//     top: 10%;
//     left: 0;
//     right: 60%;
//     bottom: 0;
//     color: white;
//   }

//   .stage3 {
//     top: 60%;
//     left: 0;
//     right: 55%;
//     bottom: 0;
//     color: white;
//   }
// }